@font-face {
  font-family: 'Shabnam';
  src: url(/fonts/Shabnam.eot?1aca6e81d81dd682a05d8c15352c0d9e);
  /* IE9 Compat Modes */
  src: url(/fonts/Shabnam.eot?1aca6e81d81dd682a05d8c15352c0d9e) format("embedded-opentype"), url(/fonts/Shabnam.woff?c8714f9a6f829f58a9100d4645a6da19) format("woff"), url(/fonts/Shabnam.ttf?7b18a4a8f65b3f5eac92df3c91fe4400) format("truetype");
}

a,
div,
li,
ul,
span,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: Shabnam;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}

.nav-brand::before {
  display: none !important;
  opacity: 0;
}

.position-absolute {
  position: absolute !important;
  top: 5% !important;
  right: 5% !important;
}

#slider {
  position: relative;
  top: 0;
  width: 100%;
  height: 75vh !important;
}

#slider > div {
  height: 100%;
}

#slider > div > div {
  height: 100%;
}

#slider > div > div > div {
  height: 100%;
}

#slider > div > div > div > img {
  height: 100%;
  width: 100%;
}

.online-class-text {
  font-weight: 800;
  font-size: 45px;
}

.ajax-back {
  background: rgba(0, 0, 40, 0.4);
  width: 100%;
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
  z-index: 1000;
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.fa-times {
  transform: scale(1.1);
}

