#select-class {
  direction: rtl;
  display: flex;
}

#select-class > div {
  text-align: center;
  width: 21%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #64b485;
  border-radius: 16px;
  padding: 2%;
  margin: 0 2%;
}

.error-select {
  position: absolute;
  width: 55%;
  text-align: center;
  top: 35vh;
  margin: 0 auto;
  border-radius: 6px;
  right: 0;
  left: 0;
  background: #f8c7bf;
  padding: 5%;
  display: none;
}

.error-select > h4 {
  text-align: center;
  direction: rtl;
  color: #c1494a;
}

#select-class::-webkit-scrollbar {
  display: none;
}

#online-items {
  margin: 0 auto;
  height: 45vh;
  overflow: auto;
  display: none;
  background: #fff;
  top: 15vh;
  border-radius: 12px;
  border: 1px solid #61f89f;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1001;
}

#online-items > div {
  align-items: center;
  height: 90%;
}

#online-items > div > ul {
  width: 100%;
}

#online-items > div > ul > li:hover {
  background: #bdd5bf;
}

#online-items > div > ul > li {
  direction: rtl;
  text-align: right;
  cursor: pointer;
}

#online-items > button {
  position: absolute;
  bottom: 0;
  margin-bottom: 3%;
}

@media (max-width: 768px) {
  .error-select {
    width: 100%;
  }
}

