#select-class,
#select-class-offline {
  direction: rtl;
  display: flex;
}

#select-class > div,
#select-class-offline > div {
  text-align: center;
  width: 21%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #64b485;
  border-radius: 16px;
  padding: 2%;
  margin: 0 2%;
}

.error-select {
  position: absolute;
  width: 55%;
  text-align: center;
  top: 35vh;
  margin: 0 auto;
  border-radius: 6px;
  right: 0;
  left: 0;
  background: #f8c7bf;
  padding: 5%;
  display: none;
}

.error-select > h4 {
  text-align: center;
  direction: rtl;
  color: #c1494a;
}

#select-class::-webkit-scrollbar,
#select-class-offline::-webkit-scrollbar {
  display: none;
}

#online-items,
#offline-items,
#last-step-record,
#online-items-end-step {
  margin: 0 auto;
  height: auto;
  display: none;
  background: #fff;
  top: 15vh;
  border-radius: 12px;
  border: 1px solid #61f89f;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1001;
}

#online-items > div,
#offline-items > div,
#last-step-record > div,
#online-items-end-step > div {
  align-items: center;
  height: 90%;
}

#online-items > div > ul,
#offline-items > div > ul,
#last-step-record > div > ul,
#online-items-end-step > div > ul {
  width: 100%;
}

#online-items > div > ul > li:hover,
#offline-items > div > ul > li:hover,
#last-step-record > div > ul > li:hover,
#online-items-end-step > div > ul > li:hover {
  background: #bdd5bf;
}

#online-items > div > ul > li,
#offline-items > div > ul > li,
#last-step-record > div > ul > li,
#online-items-end-step > div > ul > li {
  direction: rtl;
  text-align: right;
  cursor: pointer;
}

#last-step-record {
  overflow: auto;
  height: 65vh !important;
  padding-bottom: 2%;
}

#last-step-record > div {
  height: auto !important;
}

#last-step-record input {
  text-align: right;
}

#online-items-end-step {
  height: 95vh !important;
  top: 2% !important;
  overflow: auto;
}

#online-items-end-step > p {
  font-weight: bold;
}

#online-items-end-step > div {
  direction: rtl;
  height: auto !important;
}

#online-items-end-step > div > div {
  direction: ltr;
  display: flex;
  justify-content: flex-end;
}

#online-items-end-step > div > div > input[type='radio'] {
  transform: scale(1.6);
  margin-right: 20% !important;
}

#online-items-end-step > div > div > input {
  margin: 5% 0 0 5%;
  cursor: pointer;
}

#online-items-end-step > div > textarea {
  min-height: 18vh;
  text-align: right;
}

@-webkit-keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.3), scaleX(1.05) rotate(0 deg);
  }

  80% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.3), scaleX(1.05) rotate(0 deg);
  }

  80% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

.list-group {
  overflow: auto;
  height: 25vh;
}

.circle-select,
.circle-select-offline {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  direction: rtl;
}

.circle-select > span,
.circle-select-offline > span {
  border-radius: 50%;
  border: 1px solid #299b65;
  display: block;
  width: 24px;
  height: 24px;
  margin: 2px;
}

.circle-select-active {
  background: #299b65;
}

.bg-warning {
  -webkit-animation: heartbeat 0.6s alternate infinite ease-in;
          animation: heartbeat 0.6s alternate infinite ease-in;
}

.item-selected {
  background: #8ef8b1;
  transition: all 1s;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #online-items-end-step p {
    font-size: 14px;
  }

  #select-class,
  #select-class-offline {
    direction: rtl;
    display: block;
  }

  #select-class > div,
  #select-class-offline > div {
    width: 100%;
    margin-top: 1%;
  }

  .error-select {
    width: 100%;
  }
}

