
.card {
    .justify-content-between {
        .card-image{
            p {
                width: 50%;
                text-align: justify;
                direction: rtl;

            }
        }
    }
}
.modal-body{

    img{
        max-height: 15vh!important;
    }
}
