#edit-profile {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px -2px;
}

#edit-profile input::-moz-placeholder {
  color: #44474d;
}

#edit-profile input:-ms-input-placeholder {
  color: #44474d;
}

#edit-profile input::placeholder {
  color: #44474d;
}

#edit-profile input {
  font-weight: bold;
  font-family: Shabnam;
}

#edit-profile select {
  color: #000 !important;
  font-weight: bold;
  font-family: Shabnam;
}

#edit-profile button {
  font-family: Shabnam;
}

i.checkmark {
  color: #9ABC66;
  font-size: 35px;
  margin-left: -15px;
}

